.row_posterr{
    object-fit: contain;
    max-height: 250px;
    margin-right: 0.9%;
    transition: transform 600ms;
    margin-bottom: 7px;
    max-width: 165px;
    max-height: 250px;
}
.row_posterr:hover{
    transform: scale(1.08);
    opacity: 1;
}
.coloo{
    color: aqua;
    transition: transform 450ms;
    padding-top: 4.65%;
}
@media screen and (max-width:500px){
    .coloo{
        padding-top: 12%;
    }
}

.row_posterss{
    display: flex;  
    overflow-y: hidden;
    padding: 20px;
    max-width: 100%;
    flex-wrap: wrap;
}
.row_posterss::-webkit-scrollbar{
    display: none;
}
.roww{
    max-width: 99% !important;
    margin-left: 1%;
}
